@{
    Layout = null;
}

<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Standing Strong</title>
    <link rel="stylesheet" href="/css/standingstrong/style.css">
</head>
<body>
<div id="progress">
</div>
<div id="details">
</div>
<div class="grid-wrapper">
    <div id="grid">
    </div>
</div>
<script src="/js/standingstrong/jquery-2.0.3.min.js"></script>
<script src="/js/standingstrong/packery.pkgd.js"></script>
<script src="/js/standingstrong/imagesloaded.pkgd.js"></script>
<script src="/js/standingstrong/handlebars.js"></script>
<script>
    $(document).ready(function () {
        $(document).bind("contextmenu", function (e) {
            e.preventDefault();
            return false;
        });

        var labelTemplate = Handlebars.compile($("#label-template").html());
        var detailsTemplate = Handlebars.compile($("#details-template").html());
        var digitalLabelsApi = "/api/standingstrong?json=true";
        var details = $('#details');
        var grid = $('#grid');

        $('#progress').text('fetching data');

        $.getJSON(digitalLabelsApi).done(function (data) {
            $('#progress').text('done fetching data');

            // Build grid
            for (var i = 0; i < data.length; i++) {
                var newLabel = $(labelTemplate(data[i])).data('index', i);

                newLabel.on('click', function () {
                    details.html(detailsTemplate(data[$(this).data('index')]));

                    details
                    .html(detailsTemplate(data[$(this).data('index')]))
                    .imagesLoaded(function () {
                        details.show();
                    });

                    $('.close').on('click', function () {
                        details.hide();
                    });
                });

                grid.append(newLabel);

                if (i == 0)
                    grid.append(labelTemplate({ Thumbnail: { Type: "full", Url: "/assets/standingstrong/logo.jpg" } }));
            }

            var imageLoadedProgress = 0;

            grid
            .imagesLoaded()
            .always(function (i) {
                $('#progress').hide();

                $('#grid').packery({
                    itemSelector: '.label',
                    columnWidth: 179,
                    gutter: 10
                });
            })
            .progress(function (i, image) {
                imageLoadedProgress++;
                $('#progress').text(imageLoadedProgress + '/' + $('#grid img').length + ' images loaded');
            });
        });
    });
</script>
<script id="label-template" type="text/x-handlebars-template">
    {{#if Thumbnail}}
    <div class="label {{Thumbnail.Type}}">
        <img src="{{Thumbnail.Url}}">
    </div>
    {{/if}}
</script>
<script id="details-template" type="text/x-handlebars-template">
<div class="details-container">
    <div class="header">
        <div class="close"></div>
        <div class="title">{{Image.Description}}</div>
    </div>
    <div class="image">
        <img src="{{Image.Url}}" />
        <div class="credits">Photographer - {{Image.Photographer}}, Source - {{Image.Source}}</div>
    </div>
    <div class="text-wrapper">
        <div class="text">
            {{#if Quote}}
            <div class="quote">{{Quote}}</div>
            {{/if}}
            {{#if QuoteSource}}
            <div class="quote-source">{{QuoteSource}}</div>
            {{/if}}
            <div class="story">{{Story}}</div>
        </div>
    </div>
</div>
</script>
</body>
</html>