/* global styles */
* {
  -webkit-user-drag: none;
  -webkit-user-select: none; 
}
body {
margin: 0;
padding: 0;
width: 768px;
font-family: Univers;
color: #fff;
background: #000;
overflow-x: hidden;
}
@font-face {
  font-family: Univers;
  src: url("../assets/UniversCom-45Light.ttf");
}
@font-face {
  font-family: IdealSans;
  src: url("../assets/IdealSans-Book-Pro.otf");
}
#progress {
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  text-shadow:0px 0px 3px #000;
}

/* photo grid styles */
.grid-wrapper {
  height: 1024px;
  width: 768px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.grid-wrapper::-webkit-scrollbar-track
{   
  margin: 11px 0 11px;
}
.grid-wrapper::-webkit-scrollbar
{
  width: 9px;
}
.grid-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background: #c7940d;
}
#grid {
  background: #000;
  margin: 11px 0 11px 11px;
}
#grid:after {
  content: '';
  display: block;
  clear: both;
}
.logo {
  float: left;
}
.logo img {
  display: block;  
}
.label {
  float: left;  
}
.label img {
  display: block;
}
.label.single, .label.single img {
  width: 179px;
  height: 110px;
}
.label.double, .label.double img {
  width: 179px;
  height: 230px;
}
.label.triple, .label.triple img {
  width: 179px;
  height: 350px;
}
.label.full, .label.full img {
  width: 368px;
  height: 230px;
}

/* image detail styles */
#details {
  display: none;
  z-index: 200;
  width: 768px;
  height: 1024px;
  position: fixed;
  top: 0;
  left: 0;
  background: #000 top left no-repeat url('../assets/bg_details.jpg');
}
.details-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:space-between;
  height: 100%;
}

/* header styles */
.header {
  background: #c7940d;
  order: 1;
  flex: 1 1 auto;
  width: 100%;
  max-height:142px;
}

.header .title {
  color: #573905;
  font-family: IdealSans;
  font-size: 24px;
  width: 600px;
  margin: 0 auto;
  padding: 40px 0 15px;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  background: #3b3b3b url('../assets/bg_close.png') no-repeat center center;
}

/* image styles */
.image {  
  order: 2;
  flex:1 1 auto;
}
.image img {
  max-width: 728px;
  max-height: 500px;
  margin: 20px auto 5px;
  display:block;
}
.credits {
  color: #fff;
  font-size: 12px;
}

/* text styles */
.text-wrapper {
  order: 3;
  overflow-y:scroll;
  margin-right: 50px;
  padding:0 34px 0 84px;
  flex:1 1 300px;
}
.text-wrapper::-webkit-scrollbar-track
{   
  margin:0 0 20px;
}
.text-wrapper::-webkit-scrollbar
{
  width: 9px;
}
.text-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background: #c7940d;
}
.text {
  padding: 0 0 20px;
}
.quote {
  margin: 0 0 20px;  
  font-family: IdealSans;
  font-size: 26px;
  color: #6f625a;
  position: relative;
}
.quote:after {
  content: '‘';
  display: block;
  position: absolute;
  top:-28px;
  left: -40px;
  font-size: 130px;
}
.quote-source {
  font-size: 18px;
  margin: 0 0 37px;
  color: #6f625a;
}
.story {
  color: #fff;
  font-size: 16px;
}