<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DatabaseUrl" value="http://godot_2022.mv.vic.gov.au:8090/" />
    <add key="DatabaseName" value="digitallabels_dev" />
    <add key="DatabaseUserName" value="" />
    <add key="DatabasePassword" value="" />
    <add key="DatabaseDomain" value="" />
    <add key="EmuServerHost" value="bunjil.mv.vic.gov.au" />
    <add key="EmuServerPort" value="40022" />
    <add key="WebSiteUser" value="" />
    <add key="WebSitePassword" value="" />
    <add key="WebSiteComputer" value="" />
    <add key="WebSiteDomain" value="" />
    <add key="MediaPath" value="D:\projects\git\digital-labels\src\DigitalLabels.WebApi\media" />
    <add key="MediaServerUrl" value="http://localhost:59115/" />
    <add key="SeqUrl" value="http://godot_2022.mv.vic.gov.au:5341" />
    <add key="SeqEnvironment" value="Development" />
    <add key="CheckExistingMedia" value="true" />
  </appSettings>
</configuration>