<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DatabaseUrl" value="http://godot.mv.vic.gov.au:8090/" />
    <add key="DatabaseName" value="digitallabels_dev" />
    <add key="EmuServerHost" value="bunjil.mv.vic.gov.au" />
    <add key="EmuServerPort" value="40022" />
    <add key="MediaPath" value="D:\projects\git\digital-labels\src\DigitalLabels.WebApi\media" />
    <add key="MediaServerUrl" value="http://localhost:59115/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>