<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="Magick.NET-Q16-x64" version="7.0.4.701" targetFramework="net461" />
  <package id="RavenDB.Client" version="3.5.1" targetFramework="net461" />
  <package id="Serilog" version="2.4.0" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Seq" version="3.2.0" targetFramework="net461" />
  <package id="SerilogMetrics" version="2.0.3" targetFramework="net461" />
  <package id="SimpleInjector" version="3.3.2" targetFramework="net461" />
</packages>